<!-- Begin header -->
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row" style="padding-left: 40px;">
    <a href="/">
      <img src="https://developers.google.com/ads/images/dclk-logo-mark-128px.png" id="dfpLogo" alt="DoubleClick for Publishers" />
    </a>
    <a href="/" style="text-decoration: none;">
      <span class="mdl-layout-title">DFP Playground</span>
    </a>

    <div class="mdl-layout-spacer"></div>

    <nav class="mdl-navigation">
      <a class="mdl-navigation__link">Logged in as {{ user_email }}</a>
      <a class="mdl-navigation__link" href="{{ logout_url }}" style="padding: 0; margin: 0 12px;">Sign out</a>
  </div>
</header>
