<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>DFP API Playground</title>
<meta name="google-site-verification" content="hMmiSNqw_hmwNAMGmF9J9N3neYcU3ZwilZsd6Qfv2mM" />

<!-- Roboto Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />

<!-- Material Design CSS + JS -->
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-lime.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>

<!-- Angular Material CSS + JS -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.js"></script>

<!-- MDL Accordion CSS + JS -->
<link rel="stylesheet" href="/static/css/mdl-accordion.css" />
<script src="/static/js/mdl-accordion.js"></script>

<!-- MD-Tables CSS + JS -->
<link rel="stylesheet" href="/static/css/md-data-table.css" />
<script src="/static/js/md-data-table.js"></script>

<!-- DFP Playground CSS + JS -->
<link rel="stylesheet" href="/static/css/style.css" />
<script src="/static/js/app.js"></script>
